.empresa {
  background-color: blue;
}
.area {
  background-color: blueviolet;
}
.celulares {
  background-color: aqua;
}
.impressoras {
  background-color: brown;
}
.computadores {
  background-color: green;
}

.roteadores {
  background-color: red;
}
