.meu_link:link{
    color: blue;
}

.meu_link:visited{
    color: red;
}

.meu_link:hover{
    color: purple;
}

.disciplinas{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: green;
    margin: 0;
    padding: 0;
}

.disciplinas li{
    color: blue;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

.disciplinas li:first-child{
    color: orange;
}

.disciplinas li:last-child{
    color: red;
    border-bottom: none;
}